<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @student.contact %>
</p>

<p>
  <strong>Mat nat:</strong>
  <%= @student.mat_nat %>
</p>

<p>
  <strong>Mat school:</strong>
  <%= @student.mat_school %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
