
<p id="notice"><%= notice %></p>

<h3 class='mb-4'>
  <%= @promo.title %>
  <%= link_to 'Edit', edit_promo_path(@promo), class: 'btn btn-outline-primary' %>
</h3>



<h5 class='d-flex justify-content-between'>
  <span>classrooms</span>
  <%= link_to 'New Page', new_promo_classroom_path(@promo), class: 'btn btn-primary' %>
</h5>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @promo.classrooms.each do |classroom| %>
      <tr>
        <td><%= link_to classroom.title, promo_classroom_path(@promo, classroom) %></td>
        <td><%= link_to 'Edit', edit_promo_classroom_path(@promo, classroom) %></td>
        <td><%= link_to 'Destroy', promo_classroom_path(@promo, classroom), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
