<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @student_scolar.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student_scolar.status %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_scolar.student_id %>
</p>

<%= link_to 'Edit', edit_student_scolar_path(@student_scolar) %> |
<%= link_to 'Back', student_scolars_path %>
