<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/partials/header" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200">
    <div class="pt-16 m-2">
      <%= render "shared/nav/navbar" %>
      <%= yield %>
    </div>

      <%= render "layouts/partials/notice" %>
    <%= render "layouts/partials/footer" %>
  </body>
</html>
